.team-members-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .team-leader {
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    background-color: $moxie-blue;
    text-align: center;
    width: 100px;
  }

  .team-members-wrapper {
    position: relative;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    .team-member {
      position: relative;
      border: 1px solid black;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 20px;
        background-color: black;
      }

      &:nth-child(-n + 4)::before {
        display: none;
      }
    }
  }
}
